
bin/
obj/
out/


*.user
*.suo
*.userosscache
*.sln.docstates

.vscode/
*.code-workspace

.vs/
Generated_Code/


TestResults/
*.coverage
*.coveragexml


appsettings.*.json
secrets.json
*.db
*.log


*.dll
*.exe
*.pdb


*.nupkg
*.snupkg
.nuget/


publish/
wwwroot/dist/
wwwroot/node_modules/


*.cache
*.DS_Store
Thumbs.db