bin/
obj/
out/

*.user
*.suo
*.userosscache
*.sln.docstates

mono_crash.*

Thumbs.db
ehthumbs.db

Desktop.ini

.vscode/

.idea/

*.dotCover

*.log

appsettings.Development.json
appsettings.Local.json
secrets.json

*.nupkg
*.snupkg
*.DS_Store
*.bak
*.orig

wwwroot/