bin/
obj/
out/

*.user
*.suo
*.userosscache
*.sln.docstates

mono_crash.*

*.db
*.db-shm
*.db-wal
Thumbs.db
ehthumbs.db

Desktop.ini

.vs
.vscode/

.idea/

*.dotCover

*.log

appsettings.Development.json
appsettings.Local.json
secrets.json

*.nupkg
*.snupkg
*.DS_Store
*.bak
*.orig

wwwroot/**/*       
!wwwroot/**/.gitkeep 

